@import 'vars';

.new-gutenberg-block-toolbar-green {
  color: $green;
}

.new-gutenberg-block-toolbar-yellow {
  color: $yellow;
}

.new-gutenberg-block-toolbar-red {
  color: $red;
}
.new-gutenberg-block-toolbar-blue {
  color: $blue;
}
